name: Run Unit Tests

on:
  push:
    branches:
    - 'main'
  pull_request:
    branches:
      - 'main'
  release:

jobs:
  run_tests:
    strategy:
      matrix:
           os: [windows-latest, ubuntu-latest, macOS-latest]
           python_version: ['3.9', '3.10', '3.11', '3.12']
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          # Needed to get tags so that git describe works during package build
          fetch-depth: "0"

      - name: Get Date
        id: get-date
        run: |
          echo "::set-output name=date::$(/bin/date -u "+%Y%V")"
        shell: bash

      - name: Create yml file
        shell: bash -l {0}
        run: |
          python tools/create_conda_yml.py ${{ matrix.python_version }}
          pwd
          ls
          cat MuonDataLib-dev.yml

      - name: Setup Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          environment-file: MuonDataLib-dev.yml

      - name: check install
        shell: bash -el {0}
        run:
             conda info

      - name: check install 2
        shell: pwsh
        run:
             conda list

      - name: compile
        shell: bash -l {0}
        run:  |
            conda activate test
            python -m pip install .
            python -V

      - name: Disable mandb
        if: ${{ matrix.os  == 'ubuntu-latest' }}
        run: |
          # Disable mandb
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db

      - uses: pyvista/setup-headless-display-action@v3
        if: ${{ matrix.os  == 'ubuntu-latest' }}
        with:
          qt: true
 
      - name: run tests
        timeout-minutes: 10
        shell: bash -l {0}
        run:  |
             python -m pytest

      - name: PublishPipelineArtifact@1
        if: succeededOrFailed()
        displayName: Upload screenshots
        with:
          targetPath: /tmp/dash_artifacts
          artifactName: screenshots
